/*
* Start my LESS file for demonstration purposes only. 
*/
/* DEFINE AND USE MIXINS */
h1#site-title a {
  color: #db5fa5;
}
h2#site-description {
  color: #ff9400;
}
/* NESTED RULES */
body.blog .hfeed {
  background: #dda67c;
  padding: 1%;
}
body.archive .hfeed {
  background: #ff9400;
  padding: 10%;
}
/* USE MIXINS */
.minimal-padding {
  padding: 1%;
}
.extreme-padding {
  padding: 10%;
}
.rounded-corners {
  border-radius: 3%;
}
body.blog .hfeed {
  padding: 1%;
}
body.archive .hfeed {
  border-radius: 3%;
  padding: 10%;
}
/* FANCY MIXINS (parametric) */
body.blog .hfeed {
  box-shadow: #db5fa5 -5px -5px 30px;
  -webkit-transform: scale(0.9);
}
/* CUSTOM FUNCTIONS */
body.blog {
  background: #db5fa5;
}
/* BUILT IN FUNCTIONS */
.hentry:nth-child(2n+1) {
  background: #ff9f1a;
}
.hentry:nth-child(2n+2) {
  background: #e68500;
}
.hentry a {
  color: #ffe900;
}
/* NESTED FUNCTIONS */
.hentry P {
  background: #f6639e;
}
/* READING, WRITING AND ARITHMATIC */
.multiplication {
  padding: 2%;
}
.division {
  padding: 5%;
}
.hentry:nth-child(2n+1) {
  width: 500px;
  padding: 2%;
}
.hentry:nth-child(2n+2) {
  width: 300px;
  padding: 5%;
}
